                .nav {
                    background-color: #B11313;
                    padding: 25px;
                }
                
                h1 {
                    font-family: 'Shadows Into Light', cursive;
                }
                
                .antenne {
                    background-color: #B11313;
                }
                
                .marvel {
                    background-color: #114C92;
                }
                
                .toile {
                    background-color: #F1C530;
                }
                
                .footer {
                    background-color: #000000;
                }